[submodule "nvim/bundle/Vundle.vim"]
	path = nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "i3/bumblebee-status"]
	path = i3/bumblebee-status
	url = https://github.com/tobi-wan-kenobi/bumblebee-status.git
